/* Pon tu código css aqui */
div{
	width: 200px;
	height: 200px;
}
.rojo{
	background-color: #ee3e64;
}
.azul{
	background-color: #44accf;
	position: absolute;
	left:200px;
	bottom: 200px;
	right: 0px;
	top: 0px
}
.verde{
	background-color: #b7d84b;
}
body{
	margin:0;
	padding: 0;
}